#title{
    color: rgb(13, 13, 13);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(29, 29, 29);
    margin-left: 20px;
    margin-bottom: 8px;

}
.form{
    border: 2px;
    border-style: double;
    border-color: white;
    border-radius: 6px;
    background-color: white;
    width: 600;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.flex{
    display: flex;
    justify-content:space-around ;
    padding: 5px;
}
.name1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(136, 136, 136) ;
    margin-top: 8px;

}
.name2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(136, 136, 136) ;
    margin-left: 25px;

}
.field1{
    border: 2px;
    border-color:rgb(158, 157, 157);
    border-style: double;
    border-radius: 5px;
    width: 250px;
    height: 35px;
}

.field2{
    border: 2px;
    border-color:rgb(158, 157, 157);
    border-style: double;
    border-radius: 5px;
    width: 548px;
    height: 35px;
    
}
.position{
    margin-left: 25px;
}
.circle{
    border: 1px;
    border-style: solid;
    border-color:rgb(158, 157, 157);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-top: 10px;
}
.flex1{
    display: flex;
    gap: 8px;
}
.field3{
    border: 2px;
    border-color:rgb(158, 157, 157);
    border-style: double;
    border-radius: 5px;
    width: 548px;
    height: 90px;
}
.square{
    border: 1px;
    border-style: solid;
    border-color:rgb(158, 157, 157);
    border-radius: 1px;
    width: 17px;
    height: 17px;
    margin-left: 25px;
    margin-top:30px;

}
.name3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(136, 136, 136) ;
    margin-top: 28px;
    margin-left: 8px;

}
.submit{
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    width: 548px;
    height: 50px;
    margin-top: 20px;
    margin-left: 25px;
    color: white;
    background-color: rgb(10, 114, 69);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    transition: 0.5s;
}
.submit:hover{
    background-color:rgb(189, 190, 191) ;
    color: black;
    border-radius: 20px;
     border: none;
}




.text{
    border: none;
    outline: none; 
    font-size: large; 
    color: rgb(8, 9, 8); 
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100%;
}
